body{
    margin: ;
    padding: ;
    background-image: url(assets/qbkls.png);
}

.mynav{
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.nav-link{
    color: gray;
    font-size: x-large;
}

#myname{
    width: 32%;
    background-color:teal;
    color: white;
    padding: 10px;
}

.me{
    padding: 20px;
}

.w3-container{
     
}
.container-form{
    background-color: white;
    margin-bottom: 0;
    border-color: black;
    margin: 50px;
    padding: 20px;
}

.contact-h2{
    background-color: white;
    color: #4aaaa5;
    border-bottom: gray solid 2px;
    padding: 15px;
}
.contact-br{
    
}
    





footer{
    position: absolute;
    bottom: -540px;
    background-color:#666666;
    color: white;
    width: 100%;
    padding: 22px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    border-top: #4aaaa5 6px solid ;   
}